// variables.scss is injected through Vue-loader + loading only required bulma sass modules below
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/helpers/_all';

@import '~bulma/sass/components/navbar.sass';;

@import '~bulma/sass/elements/box.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/content.sass';
@import '~bulma/sass/elements/progress.sass';
@import '~bulma/sass/elements/table.sass';

@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/layout/footer.sass';

// @import '~bulma/sass/form/_all.sass';

// components
@import 'buefy.scss';
@import 'layout.scss';
@import 'typo.scss';
@import 'components.scss';
@import 'animation.scss';
// @import 'form.scss';
