@import 'buefy/src/scss/utils/_all.scss';

@import 'bulma/sass/form/shared.sass';

@import 'buefy/src/scss/components/_carousel.scss';
@import 'buefy/src/scss/components/_progress.scss';
@import 'buefy/src/scss/components/_table.scss';
@import 'buefy/src/scss/components/_tooltip.scss';

.progress-wrapper {
  .progress {
    height: 30px;
  }

  .progress-value {
    display: block;
    background-color: $primary;
    border-radius: 15px;
    height: 30px;
    min-width: 30px;
    font-size: $size-6;
    color: $white;
  }
}

.b-table {
  .icon.sort-icon.is-invisible {
    display: none;
  }

  .table-wrapper.has-mobile-cards .table {
    tr {
      // height: 100px;
      // overflow: hidden;
    }

    td {
      padding: 10px 15px;
      font-size: $size-5;

      &:first-child:before {
        opacity: 0;
      }
    }
  }
}

.carousel {
  .carousel-arrow {
    .icon {
      font-size: $size-1;
      border: 0;
      background-color: transparent;

      &:hover {
        color: $black !important;
      }
    }
  }

  .carousel-indicator {
    .indicator-item {
      .indicator-style {
        background-color: #e2e2e2;
        border-color: #e2e2e2;

        &.is-lines {
          @include fullhd {
            width: 48px;
          }
        }
      }

      &:hover {
        .indicator-style {
          border-color: inherit;
          // background-color: $black;
        }
      }

      &.is-active {
        .indicator-style {
          background-color: $black;
          border-color: $black;
        }
      }
    }
  }
}
