@import 'buefy/src/scss/utils/_all.scss';

@import 'bulma/sass/form/shared.sass';

@import 'buefy/src/scss/components/_carousel.scss';
@import 'buefy/src/scss/components/_progress.scss';
@import 'buefy/src/scss/components/_table.scss';

.progress-wrapper {
  .progress {
    height: 30px;
  }

  .progress-value {
    display: block;
    background-color: $primary;
    border-radius: 15px;
    height: 30px;
    min-width: 30px;
    font-size: $size-6;
    color: $white;
  }
}

.b-table {
  .icon.sort-icon.is-invisible {
    display: none;
  }
}

.carousel {
  .carousel-arrow {
    .icon {
      font-size: $size-1;
      border: 0;
    }
  }

  .carousel-indicator {
    .indicator-item {
      .indicator-style {
        background-color: #e2e2e2;
        border-color: #e2e2e2;
      }

      &.is-active {
        .indicator-style {
          background-color: $black;
          border-color: $black;
        }
      }
    }
  }
}
