a {
  &:not(.button):hover {
    color: $red-dark;
  }

  .icon {
    display: inline-block;
    margin-left: 12px;
  }
}

.button {
  border-radius: 62px;
  font-weight: $weight-bold;

  &.is-large {
    padding-right: 24px;
    padding-left: 24px;
    height: 64px;
  }
}

.table {
  th {
    font-size: $size-6;
  }
}
