a {
  &:not(.button):hover {
    color: $red-dark;
  }

  .icon {
    display: inline-block;

    &:last-child {
      margin-left: 12px;
    }
  }
}

.button {
  border-radius: 62px;
  font-weight: $weight-bold;

  &.is-large {
    padding-right: 24px;
    padding-left: 24px;
    height: 64px;
  }
}

.buttons .button {
}

.b-table .table {
  th {
    font-size: $size-6;
  }
}

.carousel-container {
  margin-bottom: 40px;

  &.company {
    padding: 40px 0;
    border: 2px solid $border;

    .carousel-arrow {
      .icon {
        color: $grey-light;

        &.has-icons-left {
          top: 25%;
          left: 18px;
        }

        &.has-icons-right {
          top: 25%;
          right: 18px;
        }
      }
    }

    .carousel-item {
      padding: 0 48px 40px;

      @include tablet {
        padding: 0 48px 40px;
      }

      .title {
        margin: 30px 0 15px;
      }

      margin: 0 auto;
      max-width: 300px;
      max-height: 390px;
      @include tablet {
        max-width: 230px;
        max-height: 300px;
      }
    }
  }

  &.quotes {
    background-color: $primary;
    color: $white;
    padding: 40px 0;

    @include mobile {
      margin-right: -15px;
      margin-left: -15px;
    }

    .carousel-arrow {
      .icon {
        color: $white;

        @include mobile {
          &.has-icons-left {
            top: 0;
            left: 40%;
            transform: none;
          }

          &.has-icons-right {
            top: 0;
            right: 40%;
            transform: none;
          }
        }
      }
    }

    .carousel-indicator {
      @include tablet {
        justify-content: flex-start;
        padding-left: 68px;
      }
    }

    .carousel-item {
      padding: 60px 15px 40px;

      @include tablet {
        padding: 32px 68px 40px;
      }

      .icon {
        opacity: 0.35;
        font-size: 60px;
      }
    }
  }
}

figure.image {
  border: 1px solid $grey-lighter;
  transition: border-color .15s;
  overflow: hidden;

  img {
    object-fit: cover;
    border: 0;
    background: $background;
  }
}

a:hover figure.image {
  border-color: $primary;
}
