a {
  &:not(.button):hover {
    color: $red-dark;
  }

  .icon {
    display: inline-block;

    &:last-child {
      margin-left: 12px;
    }
  }
}

.button {
  border-radius: 62px;
  font-weight: $weight-bold;

  &.is-large {
    padding-right: 24px;
    padding-left: 24px;
    height: 64px;
  }
}

.b-table .table {
  th {
    font-size: $size-6;
  }
}

.carousel-container {
  margin-bottom: 40px;

  &.company {
    padding: 40px 0;
    border: 2px solid $border;

    .carousel-arrow {
      .icon {
        color: $grey-light;

        &.has-icons-left {
          left: 18px;
        }

        &.has-icons-right {
          right: 18px;
        }
      }
    }

    .carousel-item {
      padding: 0 48px 40px;

      .title {
        margin: 30px 0 15px;
      }
    }
  }

  &.quotes {
    background-color: $primary;
    color: $white;
    padding: 40px 0;

    .carousel-arrow {
      .icon {
        color: $white;
      }
    }

    .carousel-indicator {
      justify-content: flex-start;
      padding-left: 68px;
    }

    .carousel-item {
      padding: 32px 68px 40px;

      .icon {
        opacity: 0.35;
        font-size: 60px;
      }
    }
  }
}

.image img {
  background: $background;
}
