.container.is-fluid {
  max-width: 1366px !important;
}

nav.navbar {
  .container.is-fluid {
    @include mobile {
      padding-left: 27px;
      padding-right: 27px;
    }
  }

  .navbar-brand {
    img {
      height: 30px;

      @include tablet {
        height: 40px;
      }
    }
  }

  .navbar-item {
    padding: 5px;

    @include desktop {
      padding: 0.5rem 10px;
    }
  }

  .navbar-menu {
    .button.is-large {
      font-size: $size-4;
    }
  }

  .button.is-menu {
    width: 64px;
    height: 64px;
    font-size: $size-7;
    border-width: 4px;
    z-index: 3;
    padding: 0;

    &.is-active {
      background-color: $white;
      border-color: $white;
      color: $grey;
      font-size: $size-3;

      &:hover {
        color: $primary;
      }
    }
  }

  .navbar-brand,
  .navbar-item .button.is-large,
  .navbar-item .b-tooltip {
    opacity: 1;
    transition: opacity 0.25s;
  }

  &.is-inactive {
    .navbar-brand,
    .navbar-item .button.is-large,
    .navbar-item .b-tooltip {
      pointer-events: none;
      opacity: 0;
    }
  }
}

#menu {
  position: absolute;
  background-color: $red;
  height: 100vh;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    left: auto;
    width: 50%;
  }

  .navbar-item {
    color: $white;
    justify-content: center;
    padding: 15px;
    font-weight: bold;

    &:hover {
      color: $black;
    }
  }

  ul {
    margin-bottom: 85px;
  }
}

.section {
  overflow: hidden;

  @include mobile {
    padding: 20px 15px;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 20px;
  }

  h2 + h2 {
    margin-top: -10px;
  }

  > .box {
    .button.is-large {
      margin-top: 40px;
    }

    @include mobile {
      padding: 30px 15px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  a {
    font-weight: $weight-bold;
  }

  &.is-small {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .columns.is-gapless:first-child {
    margin-bottom: 0;
  }
}

footer.footer {
  ul {
    a {
      display: inline-block;
      color: #626262;
      padding: 10px 0;

      &:hover {
        color: $black;
      }
    }
  }

  a.is-size-3 {
    display: inline-block;
    padding-top: 5px;
  }

  p.title {
    margin-bottom: 20px;
    font-weight: bold;
    color: $black;
  }
}
