h1 {
  font-size: $size-1;
  line-height: 1.2;
  font-weight: bold;

  &.is-spaced {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 80px;
    }
  }
}

h2 {
  font-size: $size-2;
  line-height: 1.1875;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 1.2083333333;
  font-weight: bold;
}

@include touch {
  h1, h2, h3 {
    // @TODO: handle this better?
    // word-break: break-all;
  }
}

@include fullhd {
  .content.is-small {
    // font-size: $size-5;
  }
}
